params {
  run              = null
  publish_dir_mode = 'copy'
  slurm_account    = 'pawsey0964'
  outdir           = null
  bs_config        = null
  date             = null
}

profiles {
  setonix {
    process {
      cache = 'lenient'
      stageInMode = 'symlink'
    }
    workDir = "$MYSCRATCH/rna-nextflow/work"
      
    singularity {
      enabled = true
      envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
      //cacheDir = "$MYSOFTWARE/.nextflow_singularity"
      cacheDir = "/software/projects/pawsey0964/singularity"
      //runOptions = "--rocm"
    }

    process {
      executor = 'slurm'
      clusterOptions = "--account=${params.slurm_account}"
      queue = 'work'
      cpus = 1
      time = '1h'
      memory = '1800MB'

      withName: 'BASESPACE' {
        cpus = 8
        time = '4h'
        memory = '20GB'
        publishDir = [
          path: { "${params.outdir}/basespace" },
          mode: params.publish_dir_mode
        ]
      }

      withName: 'FASTQC' {
        cpus = 8
        time = '4h'
        memory = '8GB'
        publishDir = [
        path: { "${params.outdir}/fastqc" },
        mode: params.publish_dir_mode
        ]
        
      }

        withName: 'POOL_LANES' {
        cpus = 8
        time = '8h'
        memory = '128GB'
        publishDir = [
          path: { "${params.outdir}/pooled_raw" },
          mode: params.publish_dir_mode
        ]
      }


    withName: 'FASTP' {
        cpus = 8
        time = '8h'
        memory = '15GB'
                publishDir = [
          path: { "${params.outdir}/fastq" },
          mode: params.publish_dir_mode
        ]
      }

      withName: 'MULTIQC' {
        cpus = 8
        time = '2h'
        memory = '8GB'
        publishDir = [
          path: { "${params.outdir}/multiqc" },
          mode: params.publish_dir_mode
        ]
      }
 
      withLabel: 'gpu' {
        clusterOptions = "--account=${params.slurm_account}-gpu --gpus-per-node=1 --gpus-per-task=1"
        executor = 'slurm'
        queue = 'gpu'
      }
    }
    executor {
      $slurm {
        queueSize = 1024
      }
    } 
  }
}